{% extends "pages/base.html" %}
{% block title %}Books{% endblock title %}
{% block body %}
{% load static %}
<script>
	function get_cb_recs(id_tiki) {

		url = 'rec_content/?id_tiki=' + id_tiki

		$.getJSON(url,
			function (result) {
				var books = result.rs;
				books.forEach(book => {
					console.log(book);
					// document.getElementById('aaron-family').innerHTML += '<li>' + book.name + '</li>';
					document.getElementById('show').innerHTML +=
						'<div class="col-md-5 col-lg-4 d-flex">\
    						<div class="book-wrap d-lg-flex">\
    							<div class="img d-flex justify-content-end" style="background-image: url('+book.thumnail+');">\
    								<div class="in-text">\
    									<a href="#" class="icon d-flex align-items-center justify-content-center" data-toggle="tooltip" data-placement="left" title="Add to cart">\
    										<span class="flaticon-shopping-cart"></span>\
    									</a>\
    									<a href="#" class="icon d-flex align-items-center justify-content-center" data-toggle="tooltip" data-placement="left" title="Add to Wishlist">\
    										<span class="flaticon-heart-1"></span>\
    									</a>\
    									<a href="#" class="icon d-flex align-items-center justify-content-center" data-toggle="tooltip" data-placement="left" title="Quick View">\
    										<span class="flaticon-search"></span>\
    									</a>\
    									<a href="#" class="icon d-flex align-items-center justify-content-center" data-toggle="tooltip" data-placement="left" title="Compare">\
    										<span class="flaticon-visibility"></span>\
    									</a>\
    								</div>\
    							</div>\
    						<div class="text p-4 order-md-first">\
								<h6><a href="/detail/'+book.id+'" style="color:Black;"><small><strong>'+book.name+'</strong></small></a></h6>\
    								<span class="position">Tác giả:'+book.author+'</span>\
								<p class="mb-2"><span class="price">'+(book.price/1000).toFixed(3)+' <ins>đ</ins></span></p>\
								<span class="position" style="overflow: hidden; text-overflow: ellipsis; line-height: 20px; -webkit-line-clamp: 5; display: -webkit-box; -webkit-box-orient: vertical;font-size:11px;">'+book.short_description+'</span>\
    						</div>\
    					</div>\
    				</div>';
				})

	})
	}

</script>
<section class="hero-wrap hero-wrap-2" style="background-image: url({% static '/images/bg_5.jpg'%});"
	data-stellar-background-ratio="0.5">
	<div class="overlay"></div>
	<div class="container">
		<div class="row no-gutters slider-text align-items-center justify-content-center">
			<div class="col-md-9 ftco-animate mb-0 text-center">
				<p class="breadcrumbs mb-0"><span class="mr-2"><a href="/home">Home <i
								class="fa fa-chevron-right"></i></a></span> <span>{{book.category}} <i
							class="fa fa-chevron-right"></i></span></p>

				<div class="30">
					<h1 class="mb-0 bread">Book Detail</h1>
				</div>
			</div>
		</div>
</section>

<br>
<br>
<br>
{% load humanize %}
<section class="ftco-section ftco-no-pt">
	<div class="container">
		<div class="row">
			<div class="col-md-6 img img-3 d-flex justify-content-center align-items-center"
				style="background-image: url({{book.thumnail}});">
			</div>
			<div class="col-md-6 wrap-about pl-md-5 ftco-animate py-5">
				<div class="heading-section">
					<span class="subheading">{{book.category}}</span>
					<h2 class="mb-4">{{book.name}}</h2>
					<span class="position">Tác giả: {{book.author}}</span>
					<p class="mb-2"><span class="price" style="color:Red;">{{book.price|intcomma}} <ins>đ</ins></span>
					</p>
					<p>{{book.short_description}}</p>


					<a href="#" class="btn btn-primary">Add to Cart</a>
				</div>

			</div>
		</div>
	</div>
	<ul id="aaron-family">
	</ul>
</section>
<section class="ftco-section ftco-no-pt">
	<div class="container-fluid px-md-4">
		<div class="row justify-content-center pb-5 mb-3">
			<div class="col-md-7 heading-section text-center ftco-animate">
				<span class="subheading">Sách</span>
				<h2>Tương tự</h2>
			</div>
		</div>
		<div class="row" id="show">
			
		</div>
</section>
<script>
	get_cb_recs('{{ book.id_tiki }}')

</script>
{% endblock body %}
</section>