{% extends "pages/base.html" %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block body %}
<script>
	function get_collab_recs() {

		url = 'rec_collab/'
		$.getJSON(url,
			function (result) {
				var books = result.rs;
				books.forEach(book => {
					console.log(book);
					// document.getElementById('aaron-family').innerHTML += '<li>' + book.name + '</li>';
					document.getElementById('show').innerHTML +=
						'<div class="col-md-5 col-lg-4 d-flex">\
    						<div class="book-wrap d-lg-flex">\
    							<div class="img d-flex justify-content-end" style="background-image: url('+ book.thumnail + ');">\
    								<div class="in-text">\
    									<a href="#" class="icon d-flex align-items-center justify-content-center" data-toggle="tooltip" data-placement="left" title="Add to cart">\
    										<span class="flaticon-shopping-cart"></span>\
    									</a>\
    									<a href="#" class="icon d-flex align-items-center justify-content-center" data-toggle="tooltip" data-placement="left" title="Add to Wishlist">\
    										<span class="flaticon-heart-1"></span>\
    									</a>\
    									<a href="#" class="icon d-flex align-items-center justify-content-center" data-toggle="tooltip" data-placement="left" title="Quick View">\
    										<span class="flaticon-search"></span>\
    									</a>\
    									<a href="#" class="icon d-flex align-items-center justify-content-center" data-toggle="tooltip" data-placement="left" title="Compare">\
    										<span class="flaticon-visibility"></span>\
    									</a>\
    								</div>\
    							</div>\
    						<div class="text p-4 order-md-first">\
								<h6><a href="/detail/'+ book.id + '" style="color:Black;"><small><strong>' + book.name + '</strong></small></a></h6>\
    								<span class="position">Tác giả:'+ book.author + '</span>\
								<p class="mb-2"><span class="price">'+ (book.price / 1000).toFixed(3) + ' <ins>đ</ins></span></p>\
								<span class="position" style="overflow: hidden; text-overflow: ellipsis; line-height: 20px; -webkit-line-clamp: 5; display: -webkit-box; -webkit-box-orient: vertical;font-size:11px;">'+ book.short_description + '</span>\
    						</div>\
    					</div>\
    				</div>';
				})
			})
	}
</script>
<section class="hero-wrap" style="background-image: url({% static '/images/bg_1.jpg'%});"
	data-stellar-background-ratio="0.5">
	<div class="overlay"></div>
	<div class="container">
		<div class="row no-gutters slider-text align-items-center">
			<div class="col-md-8 ftco-animate d-flex align-items-end">
				<div class="text w-100">
					<h1 class="mb-4">Good books don't give up all their secrets at once</h1>
					<p class="mb-4">A small river named Duden flows by their place and supplies it with the necessary
						regelialia.</p>
					<p><a href="#" class="btn btn-primary py-3 px-4">View All Books</a> <a href="#"
							class="btn btn-white py-3 px-4">Explore Now</a></p>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="ftco-counter ftco-section ftco-no-pt ftco-no-pb img bg-light" id="section-counter">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
				<div class="block-18 py-4 mb-4">
					<div class="text align-items-center">
						<strong class="number" data-number="75678">0</strong>
						<span>Active Readers</span>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
				<div class="block-18 py-4 mb-4">
					<div class="text align-items-center">
						<strong class="number" data-number="3040">0</strong>
						<span>Total Pages</span>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
				<div class="block-18 py-4 mb-4">
					<div class="text align-items-center">
						<strong class="number" data-number="283">0</strong>
						<span>Cup Of Coffee</span>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
				<div class="block-18 py-4 mb-4">
					<div class="text align-items-center">
						<strong class="number" data-number="14500">0</strong>
						<span>Facebook Fans</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="ftco-section ftco-no-pt">
	<div class="container-fluid px-md-4">
		<div class="row justify-content-center pb-5 mb-3">
			<div class="col-md-7 heading-section text-center ftco-animate">
				<span class="subheading">Books</span>
				<h2>Top Seller</h2>
			</div>
		</div>
		<div class="row">
			{% for book in Books  %}
			<div class="col-md-6 col-lg-4 d-flex">
				<div class="book-wrap d-lg-flex">
					<div class="img d-flex justify-content-end" style="background-image: url({{book.thumnail}});">
						<div class="in-text">
							<a href="#" class="icon d-flex align-items-center justify-content-center"
								data-toggle="tooltip" data-placement="left" title="Add to cart">
								<span class="flaticon-shopping-cart"></span>
							</a>
							<a href="#" class="icon d-flex align-items-center justify-content-center"
								data-toggle="tooltip" data-placement="left" title="Add to Wishlist">
								<span class="flaticon-heart-1"></span>
							</a>
							<a href="#" class="icon d-flex align-items-center justify-content-center"
								data-toggle="tooltip" data-placement="left" title="Quick View">
								<span class="flaticon-search"></span>
							</a>
							<a href="#" class="icon d-flex align-items-center justify-content-center"
								data-toggle="tooltip" data-placement="left" title="Compare">
								<span class="flaticon-visibility"></span>
							</a>
						</div>
					</div>
					<div class="text p-4 order-md-first">
						<h6><a href="/detail/{{book.id}}" style="color:Black;"><strong>{{book.name}}</strong></a></h6>
						<span class="position">Tác giả: {{book.author}}</span>

						{% load humanize %}
						<p class="mb-2"><span class="price">{{book.price|intcomma}} <ins>đ</ins></span></p>
						<span class="position"
							style="overflow: hidden; text-overflow: ellipsis; line-height: 20px; -webkit-line-clamp: 5; display: -webkit-box; -webkit-box-orient: vertical;font-size:11px;">{{book.short_description}}</span>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>
<section class="ftco-section ftco-no-pt">
	<div class="container-fluid px-md-4">
		<div class="row justify-content-center pb-5 mb-3">
			<div class="col-md-7 heading-section text-center ftco-animate">
				<span class="subheading">Gợi ý</span>
				<h2>Có thể bạn quan tâm</h2>
			</div>
		</div>
		<div class="row" id="show">

		</div>
	</div>
</section>
<script>
	get_collab_recs()

</script>
	{% endblock body %}